/**
 * VideoShape Styles
 */

.container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Size Variants */
.small {
  width: 5rem;
  height: 5rem;
}

.medium {
  width: 8rem;
  height: 8rem;
}

.large {
  width: 12rem;
  height: 12rem;
}

/* Responsive */
@media (max-width: 767px) {
  .small {
    width: 4rem;
    height: 4rem;
  }
  
  .medium {
    width: 6rem;
    height: 6rem;
  }
  
  .large {
    width: 10rem;
    height: 10rem;
  }
}
